#kell{
    height: 200px;
    width: 200px;
}
#kett{
    color: chocolate;
    font-size: 34px;
}
#rakesh{
    height: 170px;
    width: 200px;
}
#sharma{
    color: darkmagenta;
    font-size: 34px;
}
#kalpana{
    height: 170px;
    width: 150px;
}
#chawla{
    color: dimgray;
    font-size: 34px;
}
#mars{
    color: cornflowerblue;
}
#create{
    color: saddlebrown;
}